/*
Theme Name: Owp Theme
Theme URI: 
Author: Bhushan Shirapure
Author URI: 
Description:  Theme for owp
Version: 1.0
Text Domain: owp
*/

.cust_msg{
position: absolute;
width: 90%;
left: 15px;
background: #bf1a1a;
padding: 5px 15px;
color: white;
}

.w3eden:nth-of-type(2){margin-bottom: -30px;}

/*Top Mobile banner*/
.mobile-app-banner{
	width: 100%;
	background-color: #44c182;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 25px;
	display: none;
}
.mobile-app-banner span{
	font-size: 18px;
	font-weight: bold;
	color: white;
	font-variant: all-petite-caps;
}
.mobile-app-banner span a{
    color: #fbc641;
    text-decoration: underline;
}
/*End*/

.bx-wrapper .bx-loading{display: none;}

.widget-area [type=submit]{
	position: absolute;
	margin: -33px 156px;
}

body{background-color: #f8faf9 !important;}
a{color: inherit;}
a:hover{text-decoration: none;}

/*Row-Banner-ad*/
.row-banner-ad{
	width: 100%;
    margin: 0 auto 25px;
    text-align: center;
}

/*c-f*/
.ctct-form-field .ctct-form-field-text .ctct-form-field-required label{width: 100% !important;}

/*Company logo*/
.bx-wrapper .bx-pager{position: unset;}
.cust-sort-slider{margin: 0 auto;text-align: center;background: #fff; padding: 5px;}
.cust-sort-slider h2{text-align: center;margin-bottom: 10px;font-size: 28px;margin-top: 10px;font-weight: 400;}
.cust-left-img{float: left;margin-right: 15px;background: white;}
/*Code end*/

/*Sidebar constant contact box*/
.cust-side-sub-box{
	text-align: center;
    border: 1px solid #44c182;
    padding: 15px;
    border-radius: 6px;
	background: #f9f9f9;
}
.cust-side-sub-box p{	
	font-size: 16px;
    line-height: 20px;
    margin: 10px 0px;
}
.ctct-form-wrapper .ctct-submit {
    border: 1px solid #44c182;
    background: #44c182;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}
/*End*/

/*GDPR*/
.wpgdpr-modal-dialogg{max-width: 100% !important;padding: 0px 10px 10px !important;}
.gdprtxt{color: #ffffff !important;font-size: 18px !important;font-weight: 400 !important;}
.gdprtxt a{color: #f1d600 !important;}
.gdpracceptbtn{background: #f1d644 !important;border: 1px solid #f1d644 !important;}
.gdprdntacceptbtn{background: #ffffff !important;}
.gdprboxcolor {background-color: #000000 !important;}
/*End*/

.cust-p-navigation{    margin: 30px auto 46px;text-align: center;width: 100%;}
.wp-paginate .current{background: #62c27e !important;border: 1px solid #58f0b6 !important;}
.jumbotron
           {
			   background-image: url(images/banner-box.png);
			   color: #161515;
			   padding: 120px 0 !important;
			   background-size: cover;
               background-repeat: no-repeat;
			}
.jumbotron .searchandfilter{margin-bottom: 0px;margin-top: 20px;}
iframe{width: 100%;}

.cat-item-32{display: none;}
.aside-filter-menu .searchandfilter li .cat-item-32{display: none;}
.aside-filter-menu-mobile .searchandfilter li .cat-item-32{display: none;}

.cc-compliance{margin-right: 100px;}

.textwidget #ofcategory, .textwidget #ofpost_tag, .cust-sort-form #ofcategory, .cust-sort-form #ofpost_tag{display: block;}

/*aside filter*/
.aside-filter {color: #767676;}
.aside-filter h4{font-size: 16px;line-height: 1.5;font-weight: bold;}
.aside-filter input{border: 1px solid rgba(0,0,0,.1);border-radius: 2px;padding: 5px 12px;}
.aside-filter input:hover{background: #f8faf9;}
.aside-filter input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"]{width: 100%; margin: 5px 0;}
.aside-filter select {text-transform: none;color: #444;line-height: 28px;display: block;padding-left: 8px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background-color: #fff;border: 1px solid #aaa;border-radius: 4px;width: 100%;}
.aside-filter [type="submit"]{-webkit-appearance: button;margin: 10px 0;border: 1px solid #44c182 !important;background: #fff;cursor: pointer;}
.aside-filter [type="submit"]:hover{color: #fff;background-color: #44c182;}
/*aside filter code end*/

/*aside filter menu*/
.filter-drop{cursor: pointer;}
.filter-drop:hover{color: #44c182;}
.aside-filter-menu {display: none;color: #767676;width: 272px;border: 2px solid;position: absolute;background: white;right: 0px;top: 71px;z-index: 5;}
.aside-filter-menu .searchandfilter ul{padding: 0px 15px;}
.aside-filter-menu .searchandfilter li{display: block;}
.aside-filter-menu .searchandfilter label{font-size: 14px; margin: 0;}
.aside-filter-menu .searchandfilter h4{font-size: 14px;line-height: 1.5;font-weight: bold;}
.aside-filter-menu .searchandfilter input{border: 1px solid rgba(0,0,0,.1);border-radius: 2px;padding: 5px 12px;}
.aside-filter-menu .searchandfilter input:hover{background: #f8faf9;}
.aside-filter-menu .searchandfilter input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"]{width: 100%; margin: 5px 0;}
.aside-filter-menu .searchandfilter select {text-transform: none;color: #444;line-height: 28px;display: block;padding-left: 8px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background-color: #fff;border: 1px solid #aaa;border-radius: 4px;width: 100%;}
.aside-filter-menu .searchandfilter [type="submit"]{-webkit-appearance: button;margin: 10px 0;border: 1px solid #44c182 !important;background: #fff;cursor: pointer;}
.aside-filter-menu .searchandfilter [type="submit"]:hover{color: #fff;background-color: #44c182;}
.searchandfilter-date-picker .ui-datepicker select.ui-datepicker-month{color: white;}
/*.aside-filter-menu .searchandfilter :nth-child(4) input[type="date"]:before{content: "Select from Date ->";display: inline-block;color: #333;pointer-events: none;position: absolute;background: #f8faf9;padding: 4px;margin-top: 1px;margin-left: 1px;}
.aside-filter-menu .searchandfilter :nth-child(5) input[type="date"]:before{content: "Select to Date ->";display: inline-block;color: #333;pointer-events: none;position: absolute;background: #f8faf9;padding: 4px;margin-top: 1px;margin-left: 1px;}
*//*aside filter menu code end*/

/*aside filter menu mobile*/
.advsrch{display: none;}
.aside-filter-menu-mobile {display: none;color: #767676;width: 272px;border: 2px solid;position: absolute;background: white;right: 0px;z-index: 5;}
.aside-filter-menu-mobile .searchandfilter ul{padding: 0px 15px;}
.aside-filter-menu-mobile .searchandfilter li{display: block;}
.aside-filter-menu-mobile .searchandfilter label{font-size: 14px; margin: 0;}
.aside-filter-menu-mobile .searchandfilter h4{font-size: 14px;line-height: 1.5;font-weight: bold;}
.aside-filter-menu-mobile .searchandfilter input{border: 1px solid rgba(0,0,0,.1);border-radius: 2px;padding: 5px 12px;}
.aside-filter-menu-mobile .searchandfilter input:hover{background: #f8faf9;}
.aside-filter-menu-mobile .searchandfilter input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"]{width: 100%; margin: 5px 0;}
.aside-filter-menu-mobile .searchandfilter select {text-transform: none;color: #444;line-height: 28px;display: block;padding-left: 8px;padding-right: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;background-color: #fff;border: 1px solid #aaa;border-radius: 4px;width: 100%;}
.aside-filter-menu-mobile .searchandfilter [type="submit"]{-webkit-appearance: button;margin: 10px 0;border: 1px solid #44c182 !important;background: #fff;cursor: pointer;}
.aside-filter-menu-mobile .searchandfilter [type="submit"]:hover{color: #fff;background-color: #44c182;}
.searchandfilter-date-picker .ui-datepicker select.ui-datepicker-month{color: white;}
/*.aside-filter-menu-mobile .searchandfilter :nth-child(4) input[type="date"]:before{content: "Select from Date ->";display: inline-block;color: #333;pointer-events: none;position: absolute;background: #f8faf9;padding: 4px;margin-top: 1px;margin-left: 1px;}
.aside-filter-menu-mobile .searchandfilter :nth-child(5) input[type="date"]:before{content: "Select to Date ->";display: inline-block;color: #333;pointer-events: none;position: absolute;background: #f8faf9;padding: 4px;margin-top: 1px;margin-left: 1px;}
*//*aside filter menu code end*/

/*Cust cat box*/
.cat-video-box{color: #fff;position: absolute;right: 15px;z-index: 1;bottom: 25px;font-size: 14px;border-radius: 0 0 6px;}
.cat-video-box a{color: #fff;padding: 0 12px;}
.cat-video-box a:hover{color: #fff;text-decoration: none; background-color: #dc3545;border-radius: 0 0 6px;}
/*End*/

/*Multicategory*/
.multi-cat{font-size: 18px;font-weight: bold;padding: 0px 10px;}
.multi-cat a{color: #fff;}
.multi-cat a:hover{color: #fff;}

.sticky-top-2{top: 0px !important;}
.filter_bar {position: relative;}
.filter_bar input{border: 1px solid rgba(0,0,0,.1);border-radius: 2px;padding: 5px 12px;}
.filter_bar input[type="date"], input[type="datetime-local"], input[type="month"], input[type="time"]{background-color: #fff;width: 130px; margin:0 10px;border: 1px solid rgba(0,0,0,.1);border-radius: 2px;padding: 5px 12px;}
.filter_bar select{
text-transform: none;
color: #444;
line-height: 28px;
display: block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
background-color: #fff;
border: 1px solid #aaa;
border-radius: 4px;
margin: 0px 10px;
width: 130px;
position: relative;
}

.jumbotron .searchandfilter li:nth-child(1) select{
	box-shadow: none;
    cursor: pointer;
    border: 0;
    background: #eff2f5;
    width: 140px;
    height: 52px;
    margin: 0 -10px;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
	float: left;
}
.jumbotron .searchandfilter li:nth-child(3) select{
	    box-shadow: none;
    cursor: pointer;
    border: 0;
    background: #ffffff;
    width: 100px;
    height: 52px;
    margin: 0 -10px;
    padding: 10px;
	float: left;
}
.jumbotron .searchandfilter li:nth-child(3):after{
content: "\f078";
font-size: 10px;
color: #8888;
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
margin: 0px -10px;
text-decoration: none;
position: absolute;
background: #ffffff;
padding: 18px 5px;
height: 52px;
}

.jumbotron .searchandfilter li:nth-child(3):before{
    content: "\f03d";
    font-size: 22px;
    color: #8888;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0 -42px;
    text-decoration: none;
    position: absolute;
    background: #fff;
    padding: 10px 5px;
    height: 52px;
}

.jumbotron input[type="text"]{
	border: none;
    height: 54px;
    width: 522px;
    padding: 0px 15px;
    float: left;
    border-radius: 27px;
}
.jumbotron input[type="submit"]{
	height: 33px;
	border: 0;
	background: #fbc641;
	width: 72px;
	cursor: pointer;
	margin: -39px 180px;
	position: absolute;
}
.jumbotron h1{
	font-size: 20px;
    font-family: 'Open Sans';
    letter-spacing: 0;
    font-weight: 400;
    color: #161515;
    opacity: 1;
}

.searchandfilter li{
	padding: 0 !important;
}

.cust-h-tag ul{    list-style: none;
    padding: 0;
    margin-top: 15px;}
.cust-h-tag ul li{display: inline-block;
    margin: 0 10px;
    font-size: 14px;}
.cust-h-tag ul li a{
	text-decoration: underline;
	color: #ffffff;
}
.cust-h-tag ul li a:hover{
	text-decoration: underline;
	color: #ffffff;
}
.cust-h-tag span{
	font-size:14px;
	font-weight:bold;
	text-transform: uppercase;
}

.home-cust-sort{
margin-top: 0;
margin-bottom: 0;
}
.home-cust-sort ul{    
list-style: none;
padding: 0;
margin-top: 15px;}
.home-cust-sort ul li{
	display: inline-block;
    margin: 0 10px;
    font-size: 16px;}
.home-cust-sort ul li a{
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
}
.home-cust-sort ul li a:hover{
	color: #ffffff;
	background: #636363;
}
/*Button*/
.btn-green{
background-color: transparent;
text-transform: uppercase;
padding: 10px 25px;
border: 2px solid #44c182;
font-size: 14px;
font-weight: bold;
color: #44c182;
cursor: pointer;
border-radius: 3px;
}
.btn-green a{
color: #44c182;
display: block;
}
.btn-green:hover{
color: #fff;
background-color: #44c182;
}
.btn-green:hover a{
color: #fff;
}
/*Button*/

/*Heads*/
.ar-header{font-weight: 300;font-size: 28px;margin: 44% 0px;}
/*End*/
/*Header*/
.row{margin-right: 0px;margin-left: 0px;}
.container-fluid {padding-right: 0px; padding-left: 0px;}

.header-part{
background-color: #FFFFFF;
}

/*Navigation*/
div.custom-menu-class ul {
list-style-type: none;
list-style: none;
list-style-image: none;
margin-top: 15px;
margin-left: -40px;
position: relative;
display: inline-block;
}
div.custom-menu-class li {

display: inline;
}
.custom-menu-class a {
	padding: 0px 20px;
    font-size: 14px;
    color: #161e28;
    font-weight: 600;
	    display: inline-block;
}
.custom-menu-class a:hover{text-decoration: none;}

/* sub-menu Content (Hidden by Default) */
div.custom-menu-class ul .sub-menu {
    display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	padding: 0;
}

div.custom-menu-class ul .sub-menu li{
	padding: 0;
}

/* Links inside the sub-menu */
div.custom-menu-class ul .sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border-bottom: 1px solid #f1f1f1;
}

/* Change color of sub-menu links on hover */
div.custom-menu-class ul .sub-menu a:hover {background-color: #ddd;
border-bottom: 1px solid #44c182;}

 /*Show the sub-menu menu on hover */
#menu-item-4056:hover .sub-menu{
    display: block;
	margin: 0px 180px;
}
#menu-item-4110:hover .sub-menu{
	display: block;
	margin: 0px 290px;
}
/* Change the background color of the sub-menu button when the sub-menu content is shown */
div.custom-menu-class ul:hover div.custom-menu-class ul {
    background-color: #3e8e41;
}
/*Menu bar end*/

.cust-navbar-brand{
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

#masthead .navbar-nav > li > a{color: #fff;margin: 0px 5px;}
#masthead .navbar-nav > li > a:hover{color: #fff;}

.credits, .sep{display: none;}
.navbar-toggler{display: none;}
.navbar-toggler-icon{display: none;}
.site-header {position: relative;z-index: 1;}
.page-header{width: 100%;border-bottom: 1px solid #c7c7c7;padding: 0px 25px 0px 25px;}

#content h2{width:100%;}

header#masthead {
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border: none;
    margin-top: -2px;
}

.justify-content-end {
    position: absolute;
    top: 10px;
    right: 0;
}

/*Css for filter bar*/
.home .cust-sort-form{margin: 0 auto;}
.filter_bar{width: 100%;background-color: #fff;margin-bottom: 42px;}
.filter_bar input::placeholder{color: #717070;}
.filter_bar ul{margin: 0px;}
.filter_bar input, select{box-shadow: none;cursor: pointer;border: 0px;height: 35px;background: transparent;/*width: 133px;*/}
.cust-sort{margin-top: -12px;}
.cust-sort li{display: inline;padding: 0 9px;text-align: center;color: #555;float: left;}
.cust-sort li:first-child{font-weight: bold;margin-top: 10px;}
.cust-sort li a{display: block;text-decoration: none;color: #555;padding: 10px;}	
.cust-sort li a:hover{background: #eceff2}
.list-2 span{margin: 0px;}
.list-2 .filter_bar ul{padding: 0px;margin: 0px;}
.list-2 .cust-sort li:first-child {font-weight: bold;margin-top: 10px;}
.list-2 .cust-sort li {display: inline;padding: 0 9px;text-align: left;color: #555;float: left;width: 100%;}
.list-2 select, .list-2 [type="submit"]{width: 100%;}
/*Code end*/
/*Css for home page*/
.home_content article{    background-color: #fff;margin-bottom: 25px;border-radius: 6px;height: 290px;box-shadow: 0 3px 3px 0px #dbdede;}
.home_content .post-thumbnail{padding-bottom: 11px; height: 100px;width: 100%;max-width: 100%;overflow: hidden;position: relative;text-align: center;margin-bottom: 3px;border-radius: 6px 6px 0 0;}
.home_content .post-thumbnail img{display: inline;width: 100%;box-shadow: 0px 0px 2px 0px #000000;height: auto;}
.home_content .post-thumbnail img:hover{-webkit-transition: all 1000ms ease-in;-webkit-transform: scale(1.5);-ms-transition: all 1000ms ease-in;-ms-transform: scale(1.5);   -moz-transition: all 1000ms ease-in;-moz-transform: scale(1.5);transition: all 1000ms ease-in;transform: scale(1.5);}
.home_content .entry-header{border-bottom: 0px solid #c8c8c8;padding: 2px 0 15px 0;}
.home_content h2 {font-size: 15px;padding: 15px;height: 35px;line-height: 1.6;font-weight: normal;}
.home_content h2 a{color: #262d36;font-size: 16px;}
/*Code end*/
.entry-title a{color: white;}	
/*Css for single post*/
.cust-entry-header{text-align: center;background: aquamarine;padding-top: 45px;padding-bottom: 45px;border-top: 2px solid #44c182;margin-bottom: 2rem;background-image: url(images/banner-box.jpg);color: white;}
.single-post-main .entry-title{font-size: 26px;font-weight: 300;width: 100%;text-align: center;margin: 0 auto;}
.single-post-box{margin-bottom: 50px;}
.single-post-box .post-thumbnail{margin-bottom: 0px;box-shadow: 0 3px 3px 0 #dbdede;padding-top: 0px;}
.single-post-box .post-thumbnail img {vertical-align: middle;border-style: none;width: 100%;object-fit: cover;}
.cust-img-strip{padding: 15px;margin: 25px 0px;background: white;box-shadow: 0 3px 3px 0 #dbdede;}
.cust-img-strip .text{font-size: 12px;color: #000;font-weight: bold;margin-top: -2px;z-index: 1;position: relative;padding: 8px 0px;}
/*Code end*/
/*Css for login-logout button*/
.loginout a{position: absolute;right: 15px;top: 18px;padding: 5px 10px;display: block;font-weight: bold; background-color: #e8e8e8; color: #c1c1c1;}
.loginout a:hover{text-decoration: none;}
/*Css for download button*/
.cust-down{padding: 10px 10px 10px 10px;text-align: center;clear: both;display: table;position: relative;font-size: 20px;font-weight: bold;background: #ff7225;border-radius: 8px;color: white;box-shadow: 0px 1px 1px 0px #807a6c;}
.cust-down:hover{box-shadow: 0px 0px 0px 0px;}
.ptitle{font-weight: normal !important;}
.download a:hover{text-decoration: none;}
/*Css for bottom navigation posts links*/
.nav-links{float: left;width: 100%;position: absolute;bottom: -60px;left: 0;padding: 15px;font-weight: bold;}
/*Css for related posts*/
.cust-related-posts{margin-top: 40px;}
.cust-related-posts ul{list-style: none;padding: 0;}
.cust-related-posts li{margin-bottom: 30px;padding: 5px;float: left;}
.cust-related-posts li:first-child {margin-right: 0px;}
.cust-related-posts h3{padding-bottom: 10px;margin-bottom: 10px;}
.cust-related-posts .relatedcontent h3{font-size: 18px; padding-top: 5px;}
.cust-related-posts .relatedthumb{padding-bottom: 11px; height: 250px;width: 100%;max-width: 100%;overflow: hidden;position: relative;text-align: center;margin-bottom: 3px;}
.cust-related-posts .relatedthumb img{display: inline;width: 100%;object-fit: cover;border-bottom: none;object-position: top;}
/*Scroll bar*/
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0); }
::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 5px rgb(0, 0, 0); }
body{overflow-y: scroll;overflow-x: hidden;}
/*Footer-top*/
.sb-wp{background-color: #e2e5e3;text-align: center;padding: 60px 0px 60px;}
.sb-wp h2{color: inherit;margin-bottom: 30px;font-size: 30px;font-weight: 300;}
/*End*/
/*Css for footer widget*/
#footer-widget-1{background-color: #44c182;color: #fff;padding: 30px;}
#footer-widget-1 h2{font-size:30px;font-weight: 300;}
#footer-widget-1 ul{list-style-type: none;list-style-position: unset;margin-left: -54px;}
#footer-widget-1 ul li{border: 1px solid #58f0b6;text-align: center;color: white;margin-bottom: 12px;}
#footer-widget-1 ul li a{display: block;color: #fff; text-decoration: none;padding: 17px 0px;}
#footer-widget-1 ul li:hover{color: #fff;background-color: #58f0b6;}
#footer-widget-2{background-color: #fff;padding: 30px 0px 30px 0px;border-bottom: 1px solid #efefef;}
#footer-widget-2 ul{list-style-type: none;list-style-position: unset;margin-left: -54px;text-transform: uppercase;}
#footer-widget-2 ul li{float: left;}
#footer-widget-2 ul li a{font-weight: normal;color: #161e28;text-align: left;padding: 0px 30px 0px 0px;text-decoration: none;font-size: 15px;}
footer#colophon {background: #fff none repeat scroll 0 0;color: #99979c;padding: 1.250rem 0;text-align: left;}
footer#colophon a{color: #99979c;}
.sxc-follow-buttons {text-align: center !important;right: 0;position: absolute;top: 0px;}
.cust-sm-bar{}
.cust-sm-bar p{float: left; position: absolute; top: 17px; right: 240px; font-size: 15px; text-transform: uppercase;}
/*Homepage category box*/
.cat-box{color: #fff;position: absolute;padding: 0 12px;left: 31px;z-index: 1;bottom: 40px;font-size: 14px;border-radius: 14px;}
/*End of code Homepage category box*/
/*Disclaimer*/
.disclaimer{position: relative;margin: 5px 0px;font-size: 12px;color: #a5a5a5;}
.disclaimer-low{margin: 50px 0 0;font-size: 12px;color: #000;border-top: 1px solid;padding: 22px 0px 0px 0px;}
/*END Disclaimer*/
/*Sidebar*/
.owp-sidebar{background: white;padding: 25px 35px !important;}
.owp-sidebar .widget{margin: 0px 0px 50px 0px;}
#sidebar-widget{font-size: 18px;font-weight: 300;}
#sidebar-widget .widget-title{font-size: 18px;font-weight: bold;}
#sidebar-widget ul{padding: 0;list-style: none;}
#sidebar-widget .widget_categories ul li{padding: 5px 0px;color: #55595f;}
#sidebar-widget .widget_categories ul li a{display: block;color: #55595f;}
#sidebar-widget .widget_categories ul li a:hover{text-decoration: none;color: #4fca96;}
#sidebar-widget .widget_categories ul li a:after{content: "\276F";float: right;padding: 0px 8px;font-size: 10px;}
/*Code End*/
/*Sidebar-login*/
.signin-drop-content-sidebar {display: block;position: relative;width: 100%;z-index: 1;}
.signin-drop-content-sidebar img {margin-top: -72px;margin-left: 81px;}
/*Code end*/
/*Log box*/
.log-box{border: 1px solid #44c182;padding: 10px;border-radius: 6px;text-align: center;}
.log-box a{font-size: 12px;border: 1px solid;padding: 0px 6px;background: #44c182;color: white;font-weight: bold;top: 24px;display: inline-block;position: absolute;right: 18px;text-decoration: none;}
.log-box b{font-style: italic;font-weight: bold;font-size: 14px;}
.log-box a:hover{text-decoration: none;color: white;cursor: pointer;}
/*Code End*/
.btn-outline-secondary, .border-secondary{border-color: #6c757d !important;}
.cust-sort-form [type="submit"]{color: #212529;background-color: #e2e6ea;border-color: #dae0e5;}
/*Tag cloud*/
.tagcloud a{padding: 8px 12px;font-size: 14px !important;background: #44c182;color: white;cursor: pointer;border-radius: 10px;margin: 5px 0;width: auto;display: inline-block;font-weight: bold;border: 1px solid #44c182;}
.tagcloud a:hover{color: #44c182;background: white;text-decoration: none;}
/*Code end*/
/*Sign in drop down*/
.signin-drop {position: absolute;display: inline-block;right: 0;top: 17px;}
.signin-drop-inner-page{display: inline-block;right: 70px;top: 224px;}
.signin-drop-inner-page .block{padding: 10px 42px;font-size: 18px;font-weight: bold;background: #47d1cf;color: #161e28;cursor: pointer;border: 0px solid;box-shadow: 0px 1px 3px -1px;}
.signin-drop .block{padding: 8px 26px;font-size: 12px;font-weight: bold;background: transparent;color: #44c182;cursor: pointer;border: 2px solid;text-transform: uppercase;border-radius: 3px;}
.signin-drop-content {display: none;position: absolute;background-color: #f3f3f3;width: 300px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);padding: 2px 5px 6px;z-index: 1111;margin: 0 -95px;}
.signin-drop-content-inner-page{display: none;position: absolute;background-color: #f3f3f3;width: 300px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);padding: 2px 5px 6px;z-index: 1;margin: 0px -43px;}
.signin-drop-content-inner-page img{margin-top: -68px;margin-left: 81px;}
.signin-drop-content-inner-page span{text-align: center;font-size: 10px;float: left;width: 100%;}    
.signin-drop-content img{	margin-top: -68px;margin-left: 81px;}
.signin-drop-content-inner-page ul, .signin-drop-content ul{padding: 0px;}
.signin-drop-content-inner-page li, .signin-drop-content li{float: left !important;list-style: none;padding: 0px 1px;}
.signin-drop-inner-page:hover .signin-drop-content-inner-page, .signin-drop:hover .signin-drop-content {display: block;}
.signin-drop-content-sidebar {display: block;position: relative;width: 100%;z-index: 1;}
/*Code end*/
/*Log box*/
.log-box{border: 1px solid #44c182;padding: 10px;border-radius: 6px;text-align: center;}
.log-box a{font-size: 12px;border: 1px solid;padding: 0px 6px;background: #44c182;color: white;font-weight: bold;top: 24px;display: inline-block;position: absolute;right: 18px;text-decoration: none;}
.log-box b{font-style: italic;font-weight: bold;font-size: 14px;}
.log-box a:hover{text-decoration: none;color: white;cursor: pointer;}
/*End of code*/
/*Newsletter landing page*/
.cust-col-logo{display: table-cell;vertical-align: middle;height: 140px;}    
.cust-form-box{border: 1px solid #e8e8e8;padding: 15px;margin: 30px 0px;box-shadow: 0px 4px 8px -5px;}
.cust-col-flogo{vertical-align: middle;height: 140px;text-align: center;}
.top-box-form{padding-bottom: 15px;border-bottom: 1px solid gainsboro;border-top: 1px solid gainsboro;margin-bottom: 50px;}  
#group-accept-owp a, #group-acceptance-tf a, #group-acceptance-bwit a{margin-left: 250px;margin-top: -39px;float: left;position: relative;}  
/*cod end*/
.count-box{position: absolute;top: 0;left: 15px;z-index: 1;background: #b7b7b77a;color: #404040;padding: 5px;text-align: center;font-weight: bold;font-size: small;}
/*Media Query*/
@media screen and (max-width: 1280px) and (min-width: 990px){
	.signin-drop {top: 17px; margin: 0px;}
	div.custom-menu-class ul{margin-left: -20px;}
}
/*For Tab*/
@media (min-width: 767px) and (max-width: 1199px) {
	.dl_form .cform{position: absolute;left: -58px;}
	.w3eden{width: 280px;}
	.sticky-top{position: initial !important;}
	.owp-sidebar .widget{width: 160px;}
	.widget-area [type=submit]{margin: -33px 115px;}
	.sf-input-text{width: 150px;}
	.cat-video-box{width: 85px;}
	.cat-video-box a {font-size: 10px;}
}
@media screen and (max-width: 1199px){
	.disclaimer-low {margin: -25px 0 0;}
	.w3eden:nth-of-type(2){display: none !important;}
	.custom-menu-class a{padding: 0px 10px;}
	.cust-sm-bar p{right: auto;}
	.signin-drop-inner-page .block{padding: 10px 33px;}
	div.custom-menu-class ul {margin-left: -20px;}
	.cust-sort-form, .cust-sort {margin: 0 auto;}
}
@media screen and (max-width: 991px){
	.cust-navbar-brand{padding: 0; margin: 12px 0px;}
	.mobile-app-banner{display: block;margin-bottom: 0px;}		
	.jumbotron input[type="submit"]{display: none;}
	.advsrch {display: inline-block;position: absolute;padding: 8px 15px;top: 8px;right: 0;font-size: 12px;font-weight: bold;background: transparent;color: #44c182;cursor: pointer;border: 1px solid;text-transform: uppercase;border-radius: 3px;}
	.aside-filter-menu-mobile {top: 55px;}
	.sxc-follow-buttons{top: 20px;}
	.cust-sm-bar p{top: unset;right: unset;    float: none;
    position: relative;text-align: center;}
	#footer-widget-2 ul{margin-left: -50px;}
	#footer-widget-2 ul li a{padding: 0 15px 0 0;}
	.signin-drop-inner-page .block{padding: 10px 33px;}
	div.custom-menu-class ul {display: none;}
	#group-accept-owp a, #group-acceptance-tf a, #group-acceptance-bwit a{margin-left: 223px;margin-top: -35px;float: left;position: relative;}
	#masthead .navbar-nav > li > a {display: none;}
	.loginout a {position: fixed;right: 20%;top: 108px;}
	.signin-drop {position: relative;display: block;margin: -10px auto;width: 150px;text-align: center;}
	.jumbotron input[type="text"] {width: auto;}
	.signin-drop-content {background-color: #ffffff;margin-top: 0px;right: 52px;}
	#wprmenu_bar .bar_logo {padding: 0;width: auto;height: 50px;}
	#wprmenu_bar div.hamburger {margin-top: 0px;}
	.filter_bar input, select{width: 208px;margin-bottom: 5px;}	
	.filter_bar{text-align: center;}
}
@media screen and (max-width: 767px){
	.w3eden:nth-of-type(2){display: none !important;}
	.cust-sm-bar {margin-top: 35px;}
	.loginout a {position: fixed;
    right: 88px;
    top: 4px;
    width: 88px;
    z-index: 100000;}
	.sticky-top{position: initial !important;}
	.home_content article{height: unset;}
	.home_content h2{height: unset;}
	.advsrch {display: inline-block;position: absolute;padding: 19px 10px;top: -53px;right: 0px;font-size: 12px;font-weight: bold;background: #44c182;color: #ffffff;cursor: pointer;border: 0px solid;text-transform: uppercase;border-radius: 3px;}
	.aside-filter-menu-mobile {top: -17px;}
	#footer-widget-2 ul{margin: 0px auto;}
	#footer-widget-2 ul li {float: none;text-align: center;text-decoration: underline;}
	.sxc-follow-buttons {position: relative;}
	.cust-sm-bar p{margin-top: 30px;}
	.cust-sort li {padding: 0;}
	.signin-drop {position: relative;display: block;margin: -72px 340px;width: 105px;text-align: center;border: 1px solid #44c182;}
	.signin-drop .block{padding: 18px 20px;border:0px solid;}
	.custom-menu-class{display: none;}
	#group-accept-owp a, #group-acceptance-tf a, #group-acceptance-bwit a{margin-left: 223px;margin-top: -35px;float: left;position: relative;}
	.child-single .entry-header{margin-bottom: 185px;}
	.download{margin-top: 15px;}
}
@media screen and (max-width: 501px){
	.cust-sort li {display: inline;text-align: left;float: none;}
	.cust-sort li:first-child {font-weight: bold;margin: 10px 8px;}
	.filter_bar ul {margin: 0px;padding: 0px;text-align: left;}
}
@media screen and (max-width: 414px){
	.w3eden:nth-of-type(2){display: none !important;}
	.dl_form .cform{margin-top: 60px;}
	.signin-drop {margin: -70px 230px;width: 90px;}
	.w3eden .media-body{margin-top: 60px;position: absolute;}
	.cust-img-strip{height: 260px;}
	.w3eden .package-title{width: 270px;}
}
@media screen and (max-width: 375px){
	#group-accept-owp a, #group-acceptance-tf a, #group-acceptance-bwit a{margin-left: 42px;margin-top: 0;float: none;position: relative;}
	.signin-drop {margin: -70px 200px;width: 90px;}
	.signin-drop .block {padding: 8px 0px;margin: 10px 0px;}
	.signin-drop-content {width: 270px;margin: 0px -123px;}
	.the_champ_login_ul::after{margin-left: -52px;}
}


/* Owp redesign css 
resources by category */
.bg-w{
	background:#fff;
	box-shadow: 7px 7px 6px #B6B4B42E;
	margin-bottom: 100px;
}
.resource-title{
	font-size: 31px;
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
	padding-top: 102px;
}
.m-55{
	margin-top: 55px;
}
.m-35{
	margin-top: 35px;
}
.cat-title{
	text-align: center;
    padding: 61px 115px;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-size: 15px;
    font-family: 'Open Sans',regular;
    color: #7A7A7A;
}

.subscribe-bg {
    background-image: url(images/subscribe-bg.png);
    color: #161515;
    padding: 120px 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
	margin-top: 60px;
}
.subscribe-parent{
	display: flex;
    justify-content: center;
}
.subscribe-t-p{
	margin-left: 41px;
    margin-top: 25px;
}
.sub-h {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}
.sub-s{
	font-size: 9px;
    font-family: 'Open Sans';
    color: #000;
    margin-top: 16px;
}
.has-envelope .form-control {
    padding-left: 2.375rem;
	margin-top: 15px;
	border-radius: 144px;
	box-shadow: 0px 3px 6px #00000029;
}

.has-envelope .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
button.btn-subscribe {
    color: #fff;
    border: 0;
    background: #0063B0;
    border-radius: 24px;
    font-size: 11px;
    padding: 13px 26px;
    font-family: 'Open Sans';
	outline: none;
}
.more-c{
	justify-content: center;
	background: #fff;;
}
.more-resource-head {
    color: #000000;
    font-size: 21px;
    font-family: 'Open Sans';
    padding-top: 41px;
	text-align:center;
}
.click-btn{
	text-align: center;
}
button.click {
    background: #067AC1;
    color: #fff;
    border: 0;
    font-size: 12px;
    padding: 6px 25px;
    margin: 30px 0;
}

/* content syndication section */
.content-icon-p {
    margin-top: 11px;
    display: flex;
}
.content-syn-t{
	font-size: 15px;
    font-family: 'Open Sans';
    font-weight: bold;
    line-height: 1.2;
    margin-top: 8px;
}
.content-sub {
    font-size: 14px;
    line-height: 1.2;
    width: 224px;
    font-family: 'Open Sans';
    margin-top: 22px;
    color: #858585;
    margin-left: 10px;
}
.social-icon-p {
    display: flex;
}
.content-syndication-head {
    font-weight: bold;
    padding: 190px 0px 190px 25px;
    background: #067AC1;
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Open Sans';
}